*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid coral; */
}

html{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

/* body */

.web-app{
    height: 100vh;
}


/* top part */
.web-app-top{
    height: calc(100% - 90px);
    background-color: #141922;
    display: flex;
    overflow: hidden;
}





/* black sidebar */
.sidebar{
    background-color: black;
    width: 50px;
    height: 100%;
    overflow: hidden;
}

.sidebar .sidebar-top{
    height: calc(100% - 80px);
    gap: 10px;
    min-height: 400px;
}

.sidebar .sidebar-top #logo{
    height: 25px;
    margin-top: 10px;
}

.sidebar .sidebar-top #logo-normal{
    display: none;
    margin-top: 10px;
}

.sidebar .sidebar-top nav ul{
    list-style-type: none;
}

.sidebar .sidebar-top nav ul li a{
    display: none;
}

.sidebar .sidebar-top nav ul li:first-child a,
.sidebar .sidebar-top nav ul li:first-child svg{
    opacity: 1;
}

.sidebar .sidebar-top,
.sidebar .sidebar-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .sidebar-top .palylist{
    display: none;
}

.sidebar .sidebar-top h4{
    display: none;
}

.sidebar .sidebar-bottom{
    justify-content: space-evenly;
    height: 80px;
}

.sidebar .sidebar-top nav svg,
.sidebar .sidebar-bottom svg{
    height: 25px;
    opacity: 0.5;
}

.sidebar .sidebar-bottom a{
    font-size: 12px;
}

.sidebar .sidebar-bottom a:first-child{
    opacity: 0.5;
}

.sidebar .sidebar-bottom a:last-child svg{
    background-color: gray;
    border-radius: 50%;
    aspect-ratio: 1;
}

.sidebar .sidebar-bottom a span,
.sidebar .sidebar-bottom hr{
    display: none;
}





/* section with menu and music album */
.section-music{
    width: calc(100% - 50px);
    height: 100%;
    color: white;

    padding-top: 110px;
    padding-inline: 20px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    overflow: auto;
}


/* upper section with button */
.section-upgrade{
    /* border: 1px solid lime; */
    height: 90px;

    position: fixed;
    left: 50px;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    background-color: rgba(8, 11, 18, 0.7);
}

.section-music .section-upgrade a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
}


/* music menu */
.section-music .section-music-menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.section-music .section-music-menu ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    opacity: 0.5;
}

.section-music .section-music-menu ul li a:hover{
    opacity: 1;
}



/* reset img */
.section-music .section-albums .disk figure img,
.section-music .recommended .recommended-playlist figure img{
    display: block;
    width: 100%;
}

.section-music .popular .popular-artists figure img{
    display: block;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}



/* section album cover */
/* section with music recommended */
/* section popular artists */
.section-music .section-albums,
.section-music .recommended,
.section-music .popular{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.section-music .section-albums .disk,
.section-music .recommended .recommended-playlist,
.section-music .popular .popular-artists{
    width: calc(100% / 2 - 5px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.section-music h3{
    font-size: 14px;
}

.section-music .section-albums .disk span,
.section-music p{
    font-size: 12px;
    opacity: 0.5;
}

.section-music .popular .popular-artists figure{
    border-radius: 50%;
    aspect-ratio: 1;
}


/* bottom part */
.web-app-bottom{
    height: 90px;
    background-color: #282828;
    display: flex;
    align-items: center;
}

.web-app-bottom .player-left,
.web-app-bottom .player-center,
.web-app-bottom .player-right{  
    flex-basis: calc(100% / 3);
}

.web-app-bottom .player-left{
    /* flex-basis: 30%; */
    padding-inline: 10px;
}

.web-app-bottom .player-center{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    gap: 15px;

}

.web-app-bottom .player-right{
    /* flex-basis: 30%; */
    padding-inline: 10px;
    display: flex;
    justify-content: flex-end;
}

.web-app-bottom .player-left ul{
    list-style: none;
    display: flex;
    align-items: center; 
    gap: 10px;  
    
}

.web-app-bottom .player-left ul li #song-name{
    display: flex;  
    flex-direction: column; 
}

.web-app-bottom .player-left ul li a span{
    font-size: 10px;   
}



.web-app-bottom .player-left ul li a img{
    width: 30px;
    display: block;
    object-fit: contain;
    aspect-ratio: 1;
    margin: 0 auto;
}

.web-app-bottom .player-center div ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    margin: 0 auto;
} 

.web-app-bottom .player-center div ul li #play-logo{
    font-size: 20px;
    padding: 2px 6px;
    border: 3px solid white;
    border-radius: 50%;
} 

.web-app-bottom .player-center .bar-palyer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
    font-size: 12px;
} 

.web-app-bottom .player-center .bar-palyer-container .bar-player{
    background-color: white;
    width: 60%;
    border: 2px solid gray;
    border-radius: 10px;
} 

.player-right div ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    max-width: 300px;
}

.player-right div ul li:last-child{
    border: 2px solid gray;
    border-radius: 10px;
    width: 60px;
}









/* media query */

/* xs */
@media screen and (min-width: 576px) {
    /* sidebar */
    .sidebar{
        width: 200px;
    }
    .sidebar .sidebar-top #logo{
        display: none;
    }
    .sidebar .sidebar-top nav ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .sidebar .sidebar-top nav{
        margin-top: 20px;
    }
    .sidebar .sidebar-top nav ul li{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .sidebar .sidebar-top,
    .sidebar .sidebar-bottom{
        align-items: flex-start;
        padding-inline: 20px;
        overflow: hidden;
    }
    .sidebar .sidebar-top #logo-normal{
        display: block;
        min-height: 40px;
        max-height: 40px;
    }
    .sidebar .sidebar-top nav ul li a{
        display: block;
        opacity: 0.5;
        font-size: 12px;
    }
    .sidebar .sidebar-top h4{
        display: block;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        margin-block: 10px;
    }
    .sidebar .sidebar-top .palylist{
        display: block;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: auto;
        width: 100%;
    }  
    .sidebar .sidebar-top .palylist li a{
        display: flex;
        align-items: center;
        gap: 10px;
        opacity: 0.5;
        font-size: 12px;
    }
    .sidebar .sidebar-top .palylist li a span{
        background-color: gray;
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        color: black;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }
    .sidebar .sidebar-bottom hr{
        width: 100%;
        opacity: 0.5;
    }
    .sidebar .sidebar-bottom a{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .sidebar .sidebar-bottom a span,
    .sidebar .sidebar-bottom hr{
        display: block;
    }

    /* upper section with button */
    .section-upgrade{
        left: 200px;
        top: 0;
        right: 0;
    }

    /* section with menu and music album */
    .section-music{
        width: calc(100% - 200px);
    }


}


/* sm */
@media screen and (min-width: 768px) {
    .section-music .section-albums .disk,
    .section-music .recommended .recommended-playlist,
    .section-music .popular .popular-artists{
        width: calc(100% / 4 - 10px);

}
}

/* lg */
@media screen and (min-width: 992px) {
    .section-music .section-albums .disk,
    .section-music .recommended .recommended-playlist,
    .section-music .popular .popular-artists{
        width: calc(100% / 6 - 10px);
    }
    .section-music .section-albums{
        justify-content: space-between;
    }
}

/* Terminato esrecizio */
